/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.checkbox {
  --checkbox-fg: var(--fg-neutral-primary);
  --checkbox-fg-checked: var(--fg-neutral-primary);
  --checkbox-fg-indeterminate: var(--fg-neutral-primary);
  --checkbox-icon: var(--fg-neutral-inverse);
  --checkbox-icon-checked: var(--fg-neutral-inverse);
  --checkbox-border-default: var(--border-neutral-secondary);
  --checkbox-bg: var(--bg-neutral-primary);
  --checkbox-bg-checked: var(--tint, var(--bg-neutral-inverse));

  @apply inline-flex cursor-pointer items-center text-[var(--checkbox-fg)] transition-opacity disabled:cursor-not-allowed disabled:opacity-50 [&:not(:disabled)]:hover:opacity-80;

  /* default */
  @apply checkbox-small;
}

.check {
  @apply before:rounded-4 relative mr-2 flex items-center justify-center text-[var(--checkbox-icon)] before:absolute before:inset-0 before:flex before:border before:border-[var(--checkbox-border-default)];

  /* default */
  @apply check-small;
}

.checkbox-icon {
  @apply rounded-4 absolute left-0 top-0 flex h-full w-full items-center justify-center bg-[var(--checkbox-bg-checked)] text-[var(--checkbox-icon-checked)];
}
