.checkbox {
  --checkbox-text-default: var(--text-neutral-primary);
  --checkbox-text-checked: var(--text-neutral-primary);
  --checkbox-text-indeterminate: var(--text-neutral-primary);
  --checkbox-icon-default: var(--text-neutral-inverse);
  --checkbox-icon-checked: var(--text-neutral-inverse);
  --checkbox-border-default: var(--border-neutral-tertiary);
  --checkbox-fg-default: var(--fg-neutral-primary);
  --checkbox-fg-checked: var(--tint, var(--fg-neutral-inverse));

  @apply inline-flex cursor-pointer items-center text-[var(--checkbox-text-default)] transition-opacity disabled:cursor-not-allowed disabled:opacity-50 [&:not(:disabled)]:hover:opacity-80;

  /* default */
  @apply checkbox-small;
}

.check {
  @apply rounded-4 relative mr-2 flex items-center justify-center text-[var(--checkbox-icon-default)] shadow-[0_0_0_0.0625rem_inset_var(--checkbox-border-default)];

  /* default */
  @apply check-small;
}

.checkbox-icon {
  @apply rounded-4 absolute left-0 top-0 flex h-full w-full items-center justify-center bg-[var(--checkbox-fg-checked)] text-[var(--checkbox-icon-checked)];
}
