.checkbox {
  --checkbox-text-default: var(--text-neutral-primary);
  --checkbox-text-checked: var(--text-neutral-primary);
  --checkbox-text-indeterminate: var(--text-neutral-primary);

  --checkbox-icon-default: var(--text-neutral-inverse);
  --checkbox-icon-checked: var(--text-neutral-inverse);
  --checkbox-icon-indeterminate: var(--text-neutral-inverse);

  --checkbox-border-default: var(--border-neutral-tertiary);

  --checkbox-fg-default: var(--fg-neutral-primary);
  --checkbox-fg-checked: var(--fg-neutral-inverse); /* todo tint */
  --checkbox-fg-indeterminate: var(--fg-neutral-inverse); /* todo tint */

  @apply inline-flex cursor-pointer items-center text-[var(--checkbox-text-default)] disabled:cursor-not-allowed disabled:opacity-50 [&:not(:disabled)]:hover:opacity-80;

  &.checkbox-small {
    @apply text-small;
  }
  &.checkbox-medium {
    @apply text-base;
  }
  &.checkbox-large {
    @apply text-large;
  }
}

.check {
  @apply rounded-4 relative mr-8 flex items-center justify-center text-[var(--checkbox-icon-default)] shadow-[0_0_0_0.0625rem_inset_var(--checkbox-border-default)];

  &.check-small {
    @apply h-14 w-14;
  }
  &.check-medium {
    @apply h-16 w-16;
  }
  &.check-large {
    @apply h-20 w-20;
  }
}

.checkbox-icon {
  @apply rounded-4 absolute left-0 top-0 flex h-full w-full items-center justify-center;

  &.checkbox-icon-check {
    @apply rounded-4 bg-[var(--checkbox-fg-checked)] text-[var(--checkbox-icon-checked)];
  }
  &.checkbox-icon-indeterminate {
    @apply rounded-4 bg-[var(--checkbox-fg-indeterminate)] text-[var(--checkbox-icon-indeterminate)];
  }
}
