/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.combobox-content {
  --combobox-fg: var(--fg-neutral-primary);
  --combobox-fg-empty: var(--fg-neutral-secondary);
  --combobox-fg-placeholder: var(--fg-neutral-tertiary);
  --combobox-shortcut-fg: var(--fg-neutral-tertiary);
  --combobox-bg: var(--bg-neutral-primary);
  --combobox-bg-hover: var(--bg-neutral-tertiary);
  --combobox-border: var(--border-neutral-tertiary);

  @apply flex h-full min-w-[--radix-popover-trigger-width] flex-col overflow-hidden p-1 text-[var(--combobox-fg)];
}

.combobox-empty {
  @apply text-base-normal flex items-center justify-center p-6 text-center text-[var(--combobox-fg-empty)];
}

.combobox-item {
  @apply rounded-6 text-base-normal relative flex cursor-pointer select-none items-center p-2 outline-none transition-colors hover:bg-[var(--combobox-bg-hover)] data-[selected=true]:bg-[var(--combobox-bg-hover)];
}

.combobox-item-inset {
  @apply pl-8;
}

.combobox-item ~ .combobox-item {
  @apply mt-1;
}

.combobox-check {
  @apply mr-2;
}

.combobox-caption {
  @apply text-small-normal ml-auto tracking-widest text-[var(--combobox-shortcut-fg)];
}

.combobox-separator {
  @apply -mx-1 my-1 h-px bg-[var(--combobox-border)];
}

.combobox-group {
  @apply [&_[cmdk-group-heading]]:text-base-strong overflow-hidden p-[1px] text-[var(--combobox-fg)] [&_[cmdk-group-heading]]:p-2;
}

.combobox-list {
  @apply pt-1;
}

.combobox-input-box {
  @apply relative flex items-center justify-center border-b border-b-[var(--combobox-border)] bg-[var(--combobox-bg)] [&>svg]:ml-2 [&>svg]:shrink-0 [&>svg]:opacity-50;
}

.combobox-input {
  @apply text-base-normal min-w-0 flex-1 bg-[transparent] p-2 text-[var(--combobox-fg)] outline-none placeholder:text-[var(--combobox-fg-placeholder)];
}

.combobox-trigger {
  @apply data-[state=open]:bg-[var(--combobox-bg-hover)] [&>svg:last-of-type]:!ml-auto;
}
