.combobox-content {
  --combobox-text-default: var(--text-neutral-primary);
  --combobox-text-empty: var(--text-neutral-secondary);
  --combobox-text-shortcut: var(--text-neutral-tertiary);
  --combobox-text-placeholder: var(--text-neutral-tertiary);
  --combobox-fg-default: var(--fg-neutral-primary);
  --combobox-fg-hover: var(--fg-neutral-tertiary);
  --combobox-border-default: var(--border-neutral-tertiary);

  @apply flex h-full min-w-[--radix-popover-trigger-width] flex-col overflow-hidden p-4 text-[var(--combobox-text-default)];
}

.combobox-empty {
  @apply text-base-normal flex items-center justify-center p-24 text-center text-[var(--combobox-text-empty)];
}

.combobox-item {
  @apply rounded-6 text-base-normal relative flex cursor-pointer select-none items-center space-x-8 p-8 outline-none transition-colors hover:bg-[var(--combobox-fg-hover)] data-[selected=true]:bg-[var(--combobox-fg-hover)];
}

.combobox-item-inset {
  @apply pl-32;
}

.combobox-item-text {
  @apply flex-1;
}

.combobox-item ~ .combobox-item {
  @apply mt-4;
}

.combobox-caption {
  @apply text-small-normal tracking-widest text-[var(--combobox-text-shortcut)];
}

.combobox-separator {
  @apply -mx-1 my-4 h-1 bg-[var(--combobox-border-default)];
}

.combobox-group {
  @apply [&_[cmdk-group-heading]]:text-base-strong overflow-hidden p-1 text-[var(--combobox-text-default)] [&_[cmdk-group-heading]]:p-8;
}

.combobox-list {
  @apply pt-4;
}

.combobox-input-box {
  @apply relative flex items-center justify-center border-b border-b-[var(--combobox-border-default)] bg-[var(--combobox-fg-default)] [&>svg]:ml-8;
}

.combobox-input {
  @apply text-base-normal min-w-0 flex-1 bg-[transparent] p-8 text-[var(--combobox-text-default)] outline-none placeholder:text-[var(--combobox-text-placeholder)];
}

.combobox-icon {
  @apply shrink-0 opacity-50;
}

.combobox-trigger {
  --combobox-text-default: var(--text-neutral-primary);
  --combobox-text-empty: var(--text-neutral-secondary);
  --combobox-text-shortcut: var(--text-neutral-tertiary);
  --combobox-text-placeholder: var(--text-neutral-tertiary);
  --combobox-fg-default: var(--fg-neutral-primary);
  --combobox-fg-hover: var(--fg-neutral-tertiary);
  --combobox-border-default: var(--border-neutral-tertiary);

  @apply data-[state=open]:bg-[var(--combobox-fg-hover)] [&>svg:last-of-type]:!ml-auto;
}

.combobox-trigger-icon-rotate {
  @apply [&>svg:last-of-type]:data-[state=open]:rotate-180;
}
