/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.dialog {
  --dialog-bg: var(--bg-neutral-primary);
  --dialog-bg-open: var(--bg-neutral-tertiary);
  --dialog-border: var(--border-neutral-tertiary);

  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 fixed inset-0 z-50 bg-[var(--alpha-black800)];
}

.dialog-trigger {
  @apply data-[state=open]:bg-[var(--dialog-bg-open)];
}

.dialog-content {
  --dialog-bg: var(--bg-neutral-primary);
  --dialog-bg-open: var(--bg-neutral-tertiary);
  --dialog-border: var(--border-neutral-tertiary);

  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] fixed left-[50%] top-[50%] z-50 grid w-full max-w-sm translate-x-[-50%] translate-y-[-50%] gap-y-5 space-y-2 border border-[var(--dialog-border)] bg-[var(--dialog-bg)] p-5 duration-200;

  /* default */
  @apply dialog-content-radius-medium;
}

.dialog-header {
  @apply flex flex-col gap-1 text-left;
}

.dialog-icon {
  @apply p-1;

  /* default */
  @apply dialog-icon-default;
}

.dialog-title {
  @apply text-title-h4 text-[var(--fg-neutral-primary)];
}

.dialog-description {
  @apply text-base-normal text-[var(--fg-neutral-secondary)];
}

.dialog-body {
  @apply space-y-3;
}

.dialog-footer {
  @apply flex flex-wrap gap-2;

  /* default */
  @apply dialog-footer-right;
}

.dialog-close {
  @apply !absolute right-2 top-2 !m-0;
}
