.icon-button {
  --icon-button-primary-icon-default: var(--icon-neutral-inverse);
  --icon-button-secondary-icon-default: var(--icon-neutral-primary);
  --icon-button-destructive-icon-default: var(--icon-neutral-inverse);
  --icon-button-ghost-icon-default: var(--icon-neutral-primary);
  --icon-button-outline-icon-default: var(--tint, var(--icon-neutral-primary));

  --icon-button-primary-border-default: var(--border-neutral-transparent);
  --icon-button-secondary-border-default: var(--border-neutral-transparent);
  --icon-button-destructive-border-default: var(--border-neutral-transparent);
  --icon-button-ghost-border-default: var(--border-neutral-transparent);
  --icon-button-outline-border-default: var(--border-neutral-tertiary);

  --icon-button-primary-fg-default: var(--tint, var(--fg-neutral-inverse));
  --icon-button-secondary-fg-default: var(--fg-neutral-tertiary);
  --icon-button-destructive-fg-default: var(--fg-tint-red-bold);
  --icon-button-ghost-fg-default: var(--fg-neutral-transparent);
  --icon-button-ghost-fg-hover: var(--fg-neutral-secondary);
  --icon-button-outline-fg-default: var(--fg-neutral-transparent);
  --icon-button-outline-fg-hover: var(--tint, var(--fg-neutral-secondary));

  @apply relative inline-flex cursor-pointer items-center justify-center disabled:cursor-not-allowed disabled:opacity-50 [&:not(:disabled)]:hover:opacity-80;

  /* default */
  @apply icon-button-small icon-button-radius-medium icon-button-primary;
}

.icon-button-loading {
  @apply absolute-center pointer-events-none flex shadow-none;

  /* default */
  @apply icon-button-loading-primary;
}
