.input-field {
  --input-text-default: var(--text-neutral-tertiary);
  --input-text-typing: var(--text-neutral-primary);
  --input-text-filled: var(--text-neutral-primary);
  --input-text-error: var(--text-neutral-primary);
  --input-label-default: var(--text-neutral-primary);
  --input-caption-default: var(--text-neutral-tertiary);
  --input-caption-success: var(--text-tint-green);
  --input-caption-error: var(--text-tint-red);

  --input-icon-default: var(--icon-neutral-tertiary);
  --input-icon-typing: var(--icon-neutral-primary);
  --input-icon-filled: var(--icon-neutral-primary);
  --input-icon-error: var(--icon-neutral-primary);
  --input-icon-caption-default: var(--icon-neutral-tertiary);
  --input-icon-caption-success: var(--icon-tint-green);
  --input-icon-caption-error: var(--icon-tint-red);

  --input-border-default: var(--border-neutral-tertiary);
  --input-border-typing: var(--tint, var(--border-neutral-primary));
  --input-border-filled: var(--border-neutral-tertiary);
  --input-border-error: var(--border-tint-red);

  --input-fg-default: var(--fg-neutral-primary);
  --input-fg-typing: var(--fg-neutral-tertiary);
  --input-fg-filled: var(--fg-neutral-primary);
  --input-fg-error: var(--fg-neutral-primary);

  @apply flex flex-col space-y-6;
}

.input-box {
  @apply [&:has(.input-icon)>.input-medium]:!pl-46 [&:has(.input-icon)>.input-large]:!pl-54 [&:has(.input-button)>.input-medium]:!pr-46 [&:has(.input-button)>.input-large]:!pr-54 relative [&:has(.input-button)>.input-small]:!pr-36 [&:has(.input-icon)>.input-small]:!pl-36;
}

.input {
  @apply w-full bg-[var(--input-fg-default)] text-[var(--input-text-filled)] shadow-[0_0_0_0.0625rem_inset_var(--input-border-default)] outline-none placeholder:text-[var(--input-text-default)] focus:bg-[var(--input-fg-typing)] focus:text-[var(--input-text-typing)] focus:shadow-[0_0_0_0.125rem_inset_var(--input-border-typing)] disabled:cursor-not-allowed disabled:opacity-50 [&::-webkit-search-cancel-button]:hidden;
  /* default */
  @apply input-small input-radius-medium;
}

.input-button {
  @apply absolute-y-center flex flex-shrink-0 items-center justify-center disabled:cursor-not-allowed disabled:opacity-50;

  /* default */
  @apply input-button-small;
}

.input-icon {
  @apply absolute-y-center flex;

  /* default */
  @apply input-icon-small;
}

.input-label {
  @apply text-base font-normal text-[var(--input-label-default)];
}

.input-caption {
  @apply flex gap-4 text-base;

  /* default */
  @apply input-caption-default;
}
.input-caption-icon {
  @apply flex-shrink-0;
}
