/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.menu {
  --menu-text-default: var(--text-neutral-tertiary);
  --menu-text-hover: var(--text-neutral-tertiary);
  --menu-text-pressed: var(--text-neutral-primary);
  --menu-fg-hover: var(--fg-neutral-tertiary);
  --menu-fg-pressed: var(--fg-neutral-tertiary);

  @apply rounded-8 inline-flex px-2 py-3;

  /* default */
  @apply [&:not(.menu-vertical)]:menu-horizontal;
}

.menu-item {
  @apply rounded-8 relative flex w-full cursor-pointer select-none items-center gap-2 text-left text-[var(--menu-text-default)] outline-none hover:bg-[var(--menu-fg-hover)] hover:text-[var(--menu-text-hover)] hover:opacity-100 data-[disabled]:pointer-events-none data-[state=on]:bg-[var(--menu-fg-pressed)] data-[state=open]:bg-[var(--menu-fg-pressed)] data-[state=on]:text-[var(--menu-text-pressed)] data-[state=open]:text-[var(--menu-text-pressed)] data-[disabled]:opacity-50 [&>svg]:flex-shrink-0;

  /* default */
  @apply menu-item-small;
}

.menu-dropdown-item {
  @apply !p-0;
}

.menu-dropdown-item ~ .menu-dropdown-item {
  @apply mt-1;
}
