.menu {
  --menu-text-default: var(--text-neutral-tertiary);
  --menu-text-hover: var(--text-neutral-tertiary);
  --menu-text-pressed: var(--text-neutral-primary);
  --menu-fg-default: var(--fg-neutral-primary);
  --menu-fg-hover: var(--fg-neutral-tertiary);
  --menu-fg-pressed: var(--fg-neutral-tertiary);

  @apply rounded-8 inline-flex bg-[var(--menu-fg-default)] px-8 py-12;

  /* default */
  @apply [&:not(.menu-vertical)]:menu-horizontal;
}

.menu-item {
  --menu-text-default: var(--text-neutral-tertiary);
  --menu-text-hover: var(--text-neutral-tertiary);
  --menu-text-pressed: var(--text-neutral-primary);
  --menu-fg-default: var(--fg-neutral-primary);
  --menu-fg-hover: var(--fg-neutral-tertiary);
  --menu-fg-pressed: var(--fg-neutral-tertiary);

  @apply rounded-8 relative flex w-full cursor-pointer select-none items-center space-x-8 text-left text-[var(--menu-text-default)] outline-none hover:bg-[var(--menu-fg-hover)] hover:text-[var(--menu-text-hover)] data-[disabled]:pointer-events-none data-[state=on]:bg-[var(--menu-fg-pressed)] data-[state=open]:bg-[var(--menu-fg-pressed)] data-[state=on]:text-[var(--menu-text-pressed)] data-[state=open]:text-[var(--menu-text-pressed)] data-[disabled]:opacity-50 [&>span]:flex-1 [&>svg]:flex-shrink-0;

  /* default */
  @apply menu-item-small;
}

.menu-dropdown-item {
  @apply !p-0;
}

.menu-dropdown-item ~ .menu-dropdown-item {
  @apply mt-4;
}
