.radio-card-group {
  --radio-card-text-title: var(--text-neutral-primary);
  --radio-card-text-description: var(--text-neutral-tertiary);
  --radio-card-border-default: var(--border-neutral-tertiary);
  --radio-card-border-selected: var(--border-neutral-primary); /* todo tint */
  --radio-card-fg-default: var(--fg-neutral-primary);
  --radio-card-fg-hover: var(--fg-neutral-tertiary);

  @apply inline-flex;

  /* default */
  @apply [&:not(.radio-card-group-vertical)]:radio-card-group-horizontal;
}

.radio-card {
  @apply relative inline-flex border border-[0_0_0_0.0625rem_inset_var(--radio-card-border-default)] bg-[var(--radio-card-fg-default)] hover:bg-[var(--radio-card-fg-hover)] disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:shadow-[0_0_0_0.125rem_inset_var(--radio-card-border-selected)];

  /* default */
  @apply [&:not(.radio-card-horizontal)]:radio-card-vertical radio-card-radius-medium;
}

.radio-card-text {
  @apply block text-inherit;
}

.radio-card-title {
  @apply block text-base font-medium text-[var(--radio-card-text-title)];
}

.radio-card-description {
  @apply block text-base text-[var(--radio-card-text-description)];
}
