/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.tabs {
  --tabs-text-selected: var(--text-neutral-primary);
  --tabs-text-unselected: var(--text-neutral-disabled);
  --tabs-fg-selected: var(--fg-neutral-primary);
  --tabs-fg-background: var(--fg-neutral-tertiary);
}

.tabs-list {
  @apply rounded-8 h-9.5 inline-flex items-center justify-center bg-[var(--tabs-fg-background)] p-1 text-[var(--tabs-text-selected)];
}

.tabs-trigger {
  @apply rounded-6 data-[state=active]:shadow-default text-base-normal inline-flex items-center justify-center whitespace-nowrap px-3 py-1 font-medium transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-[var(--tabs-fg-selected)] data-[state=active]:text-[var(--tabs-text-selected)] [&>svg]:h-4 [&>svg]:w-4;
}

.tabs-content {
  @apply mt-2 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
}
