/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.textarea {
  --textarea-text-default: var(--text-neutral-tertiary);
  --textarea-text-typing: var(--text-neutral-primary);
  --textarea-text-filled: var(--text-neutral-primary);
  --textarea-border-default: var(--border-neutral-tertiary);
  --textarea-border-typing: var(--tint, var(--border-neutral-primary));
  --textarea-border-filled: var(--border-neutral-tertiary);
  --textarea-fg-default: var(--fg-neutral-primary);
  --textarea-fg-typing: var(--fg-neutral-primary);
  --textarea-fg-filled: var(--fg-neutral-primary);

  @apply text-[var(--textarea-text-filled)] placeholder:text-[var(--textarea-text-default)] placeholder-shown:text-[var(--textarea-text-default)] focus-visible:text-[var(--textarea-text-typing)];
  @apply border-[var(--textarea-border-filled)] placeholder-shown:border-[var(--textarea-border-default)] focus-visible:border-[var(--textarea-border-typing)];
  @apply bg-[var(--textarea-fg-filled)] placeholder-shown:bg-[var(--textarea-fg-default)] focus-visible:bg-[var(--textarea-fg-typing)];

  @apply rounded-8 text-base-normal flex min-h-20 w-full border px-3 py-2 outline-none;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}
