/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.toggle-group {
  --toggle-group-fg: var(--fg-neutral-primary);
  --toggle-group-fg-hover: var(--fg-neutral-primary);
  --toggle-group-fg-pressed: var(--tint, var(--fg-neutral-primary));
  --toggle-group-border: var(--border-neutral-tertiary);
  --toggle-group-border-hover: var(--border-neutral-tertiary);
  --toggle-group-border-pressed: var(--border-neutral-tertiary);
  --toggle-group-bg: var(--bg-neutral-primary);
  --toggle-group-bg-hover: var(--bg-neutral-tertiary);
  --toggle-group-bg-pressed: var(--bg-neutral-tertiary);

  @apply relative inline-flex items-center justify-center;
}

.toggle-group-item {
  @apply inline-flex cursor-pointer items-center justify-center gap-1 border border-[var(--toggle-group-border)] bg-[var(--toggle-group-bg)] text-[var(--toggle-group-fg)] transition-colors disabled:cursor-not-allowed disabled:opacity-50 data-[state=on]:border-[var(--toggle-group-border-pressed)] data-[state=on]:bg-[var(--toggle-group-bg-pressed)] data-[state=on]:text-[var(--toggle-group-fg-pressed)] [&:not(:disabled)]:hover:border-[var(--toggle-group-border-hover)] [&:not(:disabled)]:hover:bg-[var(--toggle-group-bg-hover)] [&:not(:disabled)]:hover:text-[var(--toggle-group-fg-hover)] data-[state=on]:[&:not(:disabled)]:hover:border-[var(--toggle-group-border-hover)] data-[state=on]:[&:not(:disabled)]:hover:bg-[var(--toggle-group-bg-hover)] data-[state=on]:[&:not(:disabled)]:hover:text-[var(--toggle-group-fg-hover)];

  /* default */
  @apply toggle-group-item-small toggle-group-item-radius-medium;

  ~ .toggle-group-item {
    @apply -ml-px;
  }
}

.toggle-group-icon {
  @apply pointer-events-none;
}

.toggle-group-input {
  @apply absolute m-0 block h-0 w-0 overflow-hidden p-0;
}
