.tooltip {
  --tooltip-text: var(--text-neutral-primary);
  --tooltip-border: var(--border-neutral-tertiary);
  --tooltip-fg: var(--fg-neutral-primary);

  @apply rounded-8 animate-in fade-in-0 zoom-in-95 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 flex flex-col overflow-hidden whitespace-pre-wrap border border-[var(--tooltip-border)] bg-[var(--tooltip-fg)] px-12 py-4 text-base text-[var(--tooltip-text)] shadow-md;

  /* default */
  @apply tooltip-text-center;
}

.tooltip-arrow-border {
  @apply fill-current text-[var(--tooltip-border)];
}
.tooltip-arrow {
  @apply fill-current text-[var(--tooltip-fg)];
}

[data-side="top"].tooltip .tooltip-arrow {
  @apply -translate-y-1 translate-x-1;
}
[data-side="right"].tooltip .tooltip-arrow {
  @apply -translate-y-1 translate-x-[0.5px];
}
[data-side="bottom"].tooltip .tooltip-arrow {
  @apply -translate-x-1 -translate-y-1;
}
[data-side="left"].tooltip .tooltip-arrow {
  @apply -translate-x-[0.5px] -translate-y-1;
}

.tooltip-title {
  @apply mb-4 text-base font-medium;
}
