.wrapper {
  clear: both;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum","tnum";
  position: relative;
  z-index: 0;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;

  .table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    tr {
      th,
      td {
        position: relative;
        padding: 16px;
        overflow-wrap: break-word;
      }
    }

    thead {
      tr {
        th {
          color: rgba(0,0,0,.85);
          font-weight: 500;
          text-align: left;
          background: var(--black1);
          border-bottom: 1px solid #f0f0f0;
          transition: background .3s ease;
        }
      }
    }

    tbody {
      background-color: var(--white);

      &:before {
        content: ''
      }

      tr {
        &:hover {
          background-color: rgb(247, 248, 248);
        }

        td {
          border-bottom: 1px solid #f0f0f0;
          transition: background .3s;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: keep-all;
          vertical-align: middle;
          border-collapse: collapse;
        }

        &.empty {
          text-align: center;
          background-color: var(--white);
          color: var(--black6);
          font-size: 20px;
          font-weight: 500;
          min-height: 200px;
        }
      }
    }
  }


}
