{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]", "^[../]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
