.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &--mini {
    width: 18px;
    height: 18px;
  }

  &--small {
    width: 24px;
    height: 24px;

    .badge {
      &__dot {
        width: 6px;
        height: 6px;
      }
    }
  }

  &--medium {
    width: 32px;
    height: 32px;

    .badge {
      &__dot {
        width: 8px;
        height: 8px;
      }
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: var(--black1);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;

    &__dot {
      display: block;
      background-color: var(--tint-red);
      border-radius: 50%;
    }
  }
}
