.dropdown {
  display: inline-block;
  position: relative;
  font-size: 14px;

  &:before {
    position: absolute;
    top: -4px;
    right: 0;
    bottom: -4px;
    left: -7px;
    z-index: -9999;
    opacity: .0001;
    content: " ";
  }

  .button {
    text-align: left;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .content {
    margin-top: 8px;
    position: absolute;
    overflow: auto;
    width: max-content;
    min-width: 160px;
    max-width: 240px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    z-index: 10;
    right: 0;
  }
}
