.container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.post {
  display: flex;
  padding: 24px;
  background-color: var(--white);
  border-radius: 4px;

  .left {
    display: flex;
    flex-direction: column;

    .vote {
      font-size: 18px;
      border: none;
      width: 44px;
      font-weight: 700;
      cursor: pointer;
      background-color: transparent;
      text-align: center;
      margin: 0 auto;
      padding: 0 0;
      color: var(--black6);
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover,
      &--active {
        color: var(--primary);

        svg {
          > path {
            fill: var(--primary);
          }
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 24px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 20px;
        font-weight: 400;
        color: var(--black);
        margin-bottom: 8px;

        &:hover {
          color: var(--link);
        }
      }
    }

    .content {
      overflow-wrap: break-word;
      word-break: break-word;
      margin: 0 0 14px;
      color: var(--black6);
      font-size: 12px;
      line-height: 16px;
    }
  }

  + .post {
    margin-top: 8px;
  }
}
