.checkbox {
  position: relative;
  display: inline-block;
  color: #1f2326;
  text-align: left;
  outline: none;
  cursor: pointer;
  align-self: flex-start;

  &.error {
    .checkInput {
      .checkInner {
        border-color: var(--warn);
      }
    }
  }

  &.checked {
    .checkInput {
      .checkInner {
        background-color: var(--link);
        border-color: var(--link);

        &:after {
          transform: rotate(45deg) scaleY(1);
        }
      }
    }

    .label {
      color: var(--blue);
    }

    &.disabled {
      .checkInput {
        .checkInner {
          &:after {
            border-color: var(--info);
          }
        }
      }
    }
  }

  &.disabled {
    cursor: not-allowed;

    .label {
      color: #c0c4cc;
    }

    .checkInput {
      .checkInner {
        border-color: #dcdfe6;
      }
    }
  }

  .checkInput {
    display: inline-block;
    outline: 0;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    white-space: nowrap;

    .checkInner {
      display: inline-block;
      position: relative;
      border: 1px solid var(--black1);
      border-radius: 4px;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      background-color: var(--white);
      transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);

      &:after {
        box-sizing: content-box;
        content: '';
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        height: 8px;
        left: 5px;
        position: absolute;
        top: 1px;
        transform: rotate(45deg) scaleY(1);
        width: 4px;
        transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
        transform-origin: center;
      }
    }

    .checkOrigin {
      opacity: 0;
      outline: 0;
      position: absolute;
      margin: 0;
      width: 0;
      height: 0;
      left: -999px;
    }
  }

  .label {
    margin-left: 6px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
  }
}
