@import "../../../styles/mixin";

.page {
  .account {
    &__delete {
      color: var(--warn);
      max-width: 200px;

      &__description {
        display: inline-block;
        font-size: 12px;
        padding: 4px 2px;
        font-weight: 400;
        color: var(--black6);
      }
    }
  }
}
