@mixin container {
  position: relative;
  display: block;
  max-width: 1180px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 992px) {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin page-content {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}
