.container {
  margin-bottom: 16px;

  .search {
    margin-bottom: 16px;
  }

  .list {
    border: 1px solid var(--border);
    background-color: var(--white);
  }

  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--border);

    &:last-child {
      border-bottom: none;
    }

    &__left {
      margin-right: 10px;
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__name {
      font-size: 16px;
      margin-right: 8px;
    }

    &__email {
      font-weight: 500;
      font-size: 14px;
    }

    &__menu {
      display: inline-block;
      margin-left: auto;
      cursor: pointer;

      .dropdown {

        &__item {
          display: block;
          color: rgb(33, 37, 41);
          padding: 8px;
          line-height: 1.5;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background: rgb(248, 249, 250);
          }

          &__warning {
            color: var(--warn);
          }
        }
      }
    }

    &__tags {
      display: inline-block;
      margin-left: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tag {
    + .tag {
      margin-left: 6px;
    }
  }
}
