@import "../../styles/mixin";

.container {
  @include container;

  .invite {
    @include page-content;
    margin-top: 1rem;
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

    .form {
      &__text {
        width: 400px;
      }
    }
  }

  .action {
    display: flex;
    align-items: center;

    &__send {
      margin-left: 16px;
    }
  }
}
