.wrapper {
  position: relative;

  .prepand {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    left: 0;
    top: 0;
    color: var(--black6);
    transition: all 0.3s;
  }

  .input {
    display: inline-block;
    background-color: var(--white);
    appearance: none;
    width: 100%;
    padding: 10px;
    outline: 0;
    margin: 0;
    resize: none !important;
    border: 1px solid var(--black1);
    border-radius: 3px;

    &--has-prepand {
      padding-left: 35px;
    }
  }

}
