/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */

.text {
  &-small {
    &-normal {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }

    &-strong {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }

    &-underline {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
      text-decoration: underline;
    }

    &-delete {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
      text-decoration: line-through;
    }
  }

  &-base {
    &-normal {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    &-strong {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    &-underline {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
      text-decoration: underline;
    }

    &-delete {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
      text-decoration: line-through;
    }
  }

  &-large {
    &-normal {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &-strong {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &-underline {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      text-decoration: underline;
    }

    &-delete {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      text-decoration: line-through;
    }
  }

  &-xlarge {
    &-normal {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 2rem;
    }

    &-strong {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 2rem;
    }

    &-underline {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 2rem;
      text-decoration: underline;
    }

    &-delete {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 2rem;
      text-decoration: line-through;
    }
  }

  &-title {
    &-h1 {
      font-weight: 600;
      font-size: 2.375rem;
      line-height: 2.875rem;
    }

    &-h2 {
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 2.375rem;
    }

    &-h3 {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &-h4 {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    &-h5 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
