@import "../../../../styles/mixin";

.container {
  @include container;

  .page {
    @include page-content;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &__text {
        display: inline-block;
      }

      &__icon {
        margin-right: 16px;
        cursor: pointer;
      }

      &__action {
        display: flex;
        align-items: center;
        margin-left: auto;

        &__button {
          padding: 0 10px;
        }
      }
    }

    .filter {
      border: 1px solid var(--black1);
      padding: 12px 20px;
      background-color: var(--white);
      margin-bottom: 16px;

      &__item {
        display: flex;
        align-items: center;
        width: 100%;
      }

      &__select {
        width: 200px;
      }

      &__input {
        margin-left: 20px;
        margin-right: 10px;
      }
    }

    &__list {
      margin-bottom: 16px;
      padding: 10px 0;
    }
  }
}
