.form {
  .field {

    &__header {
      display: flex;
      align-items: center;

      &__button {
        margin-left: auto;
      }
    }

    &__items {
      background-color: var(--white);
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 12px 20px;
    }
  }

}
