.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  vertical-align: top;

  &__label {
    flex: auto;
    display: inline-block;
    overflow: hidden;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5715;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;

    &--required {
      &:before {
        display: inline-block;
        content: '*';
        margin-right: 4px;
        color: var(--warn);
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  &__description {
    display: inline-block;
    font-size: 12px;
    padding: 4px 2px;
    font-weight: 400;
    color: var(--black6);
  }

  &__submit {
    margin-top: 3rem;
  }
}
