/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.button-large {
  @apply text-xlarge-strong h-13 min-w-13 gap-2 px-5 [&.svg-only]:px-3 [&>svg]:h-6 [&>svg]:w-6;
}

.button-medium {
  @apply text-large-strong h-11 min-w-11 gap-2 px-4 [&.svg-only]:px-3 [&>svg]:h-5 [&>svg]:w-5;
}

.button-small {
  @apply text-base-strong h-9 min-w-9 gap-1 px-3 [&.svg-only]:px-2.5 [&>svg]:h-4 [&>svg]:w-4;
}

.button-radius-large {
  @apply rounded-full;
}

.button-radius-medium {
  @apply rounded-8;
}

.button-radius-small {
  @apply rounded-0;
}

.button-primary {
  @apply bg-[var(--button-primary-bg)] text-[var(--button-primary-fg)];
}

.button-secondary {
  @apply bg-[var(--button-secondary-bg)] text-[var(--button-secondary-fg)];
}

.button-destructive {
  @apply bg-[var(--button-destructive-bg)] text-[var(--button-destructive-fg)];
}

.button-ghost {
  @apply bg-[var(--button-ghost-bg)] text-[var(--button-ghost-fg)] transition-colors data-[state=open]:bg-[var(--button-ghost-bg-hover)] [&:not(:disabled)]:hover:bg-[var(--button-ghost-bg-hover)];
}

.button-outline {
  @apply border border-[var(--button-outline-border)] bg-[var(--button-outline-bg)] text-[var(--button-outline-fg)] transition-colors data-[state=open]:bg-[var(--button-outline-bg-hover)] [&:not(:disabled)]:hover:bg-[var(--button-outline-bg-hover)];
}

.button-loading-primary {
  @apply text-[var(--button-primary-fg)];
}

.button-loading-secondary {
  @apply text-[var(--button-secondary-fg)];
}

.button-loading-destructive {
  @apply text-[var(--button-destructive-fg)];
}

.button-loading-ghost {
  @apply text-[var(--button-ghost-fg)];
}

.button-loading-outline {
  @apply text-[var(--button-outline-fg)];
}
