.table {
  @apply text-left border border-separate border-spacing-0 border-fill-tertiary rounded mb-2 overflow-hidden bg-tertiary;

  th {
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 1.5;
  }

  td {
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 1.5;
  }

  th,
  td {
    @apply px-3 h-11 align-middle;
  }

  tbody>tr:not(:last-of-type) td,
  thead th {
    @apply border-b border-fill-tertiary;
  }
}