.font {
  &-40-bold {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.3;
  }

  &-32-bold {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.3;
  }

  &-24-bold {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.3;
  }

  &-20-bold {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  &-18-bold {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.4;
  }

  &-16-bold {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
  }

  &-14-bold {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  &-12-bold {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.5;
  }

  &-10-bold {
    font-weight: bold;
    font-size: 0.625rem;
    line-height: 1.5;
  }

  &-24-regular {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.3;
  }

  &-20-regular {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  &-18-regular {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.4;
  }

  &-16-regular {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
  }

  &-14-regular {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  &-12-regular {
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.5;
  }

  &-10-regular {
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 1.5;
  }
}