.invite {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .role {
    margin-bottom: 30px;
    line-height: 20px;
    font-weight: 400;

    &__block {
      padding-left: 24px;

      > li {
        list-style: disc;
      }
    }
  }
}
