@import "../../styles/mixin";

.page {
  @include container;

  &__inner {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
  }
}
