@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loading {
    position: relative;
    overflow: hidden;
    @apply bg-blue-primary
  }

  .loading::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(233, 233, 233, 1) 0,
        rgba(233, 233, 233, 0.9) 50%,
        rgba(233, 233, 233, 0.8) 100%);
    animation: loading 1s ease-out infinite;
    content: "";
  }
}

@keyframes loading {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

body {
  @apply font-12-regular text-primary bg-primary;
}

a {
  cursor: pointer;
}

th {
  position: relative;
}

/* Table resizing */
.resizer {
  position: absolute;
  right: 0;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  width: 8px;
  height: 100%;
  top: 0;
}