@import "../../styles/mixin";

.page {
  @include container;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;

    &__title {
      font-size: 18px;
      line-height: 27px;
      font-weight: bold;
      color: var(--black);
      margin-bottom: 8px;
    }

    &__home {
      color: var(--link);
    }
  }
}
