.switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 46px;
  height: 24px;
  background-color: var(--black1);
  transition: 0.125s all ease-in;
  border-radius: 22px;
  padding: 0.125rem;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--active {
    background-color: var(--primary);

    .switch__controller {
      transform: translate(22px);
      box-shadow: rgb(0 0 0 / 10%) -2px 0px 4px;
    }
  }

  &__controller {
    width: 20px;
    height: 20px;
    border-radius: 0.625rem;
    background: white;
    transition: all .2s ease-in-out;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
  }
}
