name: CI

on:
  pull_request:
    branches: ['*']
  push:
    branches: ['main']
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  FORCE_COLOR: 3
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: ./tooling/github/setup

      - name: Lint
        run: pnpm lint && pnpm lint:ws

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: ./tooling/github/setup

      - name: Format
        run: pnpm format

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: ./tooling/github/setup

      - name: Typecheck
        run: pnpm typecheck
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: ./tooling/github/setup

      - name: setup environment variables (with opensearch)
        run: |
          echo "JWT_SECRET=${{ vars.TEST_JWT_SECRET }}" >> ./apps/api/.env.test
          echo "OPENSEARCH_USE=true" >> ./apps/api/.env.test
          echo "OPENSEARCH_NODE=http://localhost:9200" >> ./apps/api/.env.test
          echo "SMTP_HOST='localhost'" >> ./apps/api/.env.test
          echo "SMTP_PORT=25" >> ./apps/api/.env.test
          echo "SMTP_SENDER='user@feedback.com'" >> ./apps/api/.env.test

      - name: Run Tests
        run: pnpm test

      - name: setup environment variables (without opensearch)
        run: |
          rm ./apps/api/.env.test
          echo "JWT_SECRET=${{ vars.TEST_JWT_SECRET }}" >> ./apps/api/.env.test
          echo "OPENSEARCH_USE=false" >> ./apps/api/.env.test
          echo "SMTP_HOST='localhost'" >> ./apps/api/.env.test
          echo "SMTP_PORT=25" >> ./apps/api/.env.test
          echo "SMTP_SENDER='user@feedback.com'" >> ./apps/api/.env.test

      - name: Run Tests
        run: pnpm test
