name: Run Tests On Pull Request

on:
  pull_request:
    branches: [dev, beta, main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Dependencies
        run: yarn install

      - name: setup environment variables
        run: |
          echo "JWT_SECRET=${{ vars.TEST_JWT_SECRET }}" >> ./apps/api/.env.test
          echo "OS_USE=${{ vars.TEST_OS_USE }}" >> ./apps/api/.env.test

      - name: Run Tests
        run: yarn test
