.container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;

  .emtpy {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
  }
}
